.App {
	display: flex;
	button {
		font-weight: bold;
	}
}

.toDoBox{
	height:100vh;
	width:50%;
	background-color: rgb(243, 211, 241);
}

.taskBox{
	height:100vh;
	width:50%;
	background-color: rgb(224, 245, 241);
}

.toDoHeader{
	display: flex;
	justify-content: center;
	margin-top: 10%;
}

.Display {
	display: flex;
	background-color: rgb(255, 255, 255);
	margin-bottom: 10px;
	border-radius: 10px;
	width:50%;
	margin-left: 25%;
	justify-content: space-between;
}

.toDoText{
	margin-top: 10px;
	margin-left: -20%;
	width: 30%;
}

.DisplayText{
	display: flex;
	margin-top: 10px;
	margin-left: 15px;
	width:200%;
	justify-content: space-between;
	align-items: center;
}

.taskContainer{
	display: flex;
	flex-wrap: wrap;
	width:30%;
	justify-content: center;
	margin-top: 10%;
	margin-left: 35%;
}
