.App {
	text-align: center;
	display: flex;
	justify-content: center;

	button {
		font-weight: bold;
	}
}

.box{
	width:27%;
}


.Display {
	display: flex;
	background-color: antiquewhite;
	margin-bottom: 10px;
	border-radius: 10px;
}

.toDoText{
	display: flex;
	width: 80%;
	margin-top: 10px;
}


